.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
debug/
release/
ui_aboutdialog.h
ui_mainwindow.h
ui_qualityfactordialog.h
ui_graphwindow.h
Image-Editor.pro.user
Image-Editor_resource.rc
object_script.Image-Editor.Debug
object_script.Image-Editor.Release